version: "3.8"

services:

  mysql:
    image: mysql:8.0
    container_name: finance_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: financetracker
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: finance_app
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/financetracker
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      GOOGLE_CLIENT_ID: 292545627492-a750j65i36eu894fpgbsvfmqae3e28m0.apps.googleusercontent.com
      GOOGLE_CLIENT_SECRET: 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
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  mysql_data:
